@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* .fullHeight {
    height: 100vh;
} */

.wrapper {
    background: linear-gradient(rgba(83, 83, 83, 0.562), rgba(170, 170, 170, 0.562)), url("https://habrastorage.org/files/161/60c/b34/16160cb34a7342ae84ffa48a39b8a298.png") center center fixed;
    background-size: cover;
}

.header {
    text-align: justify;
    position: sticky;
    top: 0;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2rem;
    padding: 1em 10%;
    background:rgb(77, 77, 77);
    height: 100px;
    display: flex;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.445);
    position: -webkit-sticky;
    z-index: 2;
    padding-bottom: 10px;
    background-position: 20px 10px;
    background-repeat: no-repeat;
  }